################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dook/FileContentIndex/merges/cd06eb01-0ef6-4696-9487-be4b7b24b8e1.vsidx
/.vs/Dook/FileContentIndex/086d0e65-26e0-4f19-9c86-f3849e2e06af.vsidx
